h2 {
    color: bisque;
    outline: none;
}

.item {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}


/*for images*/

.button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    border-radius: 20px;
    cursor: pointer;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* --------------- Safari   */
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    outline: none;
    background-color: #555555;
    color: white;
}

.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    outline: none;
}


/*
.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}*/

.fa fa-shopping-cart {
    width: 30px;
    height: 30px;
}

.categ {
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    background: #f6b319;
    margin-bottom: 4%;
}

.categ:after {
    display: block;
    content: "";
    clear: both;
}

.products {
    padding: 0;
    margin-top: 40px;
    background-color: #951C49;
}

.products li {
    display: inline;
    list-style-type: none;
    float: left;
    /*width: 30%;
    margin: 30px 1.5%;*/
    text-align: center;
}

.descr{
    font-style: italic;
    color: white;    
}
/*
.basket button{
  border-radius: 20px;
  cursor: pointer;
}*/

.categ div {
    float: right;
    position: relative;
    z-index: 1;
}

.categ h1 {
    float: left;
}


/*---------- BASKET ANIMATION STYLES //----*/

.zoom {
    position: absolute;
    top: 19%;
    right: 60%;
    width: 40px;
    z-index: 10;
    height: 50px;
    /*
    right: 60%;
    width: 50px;
    /*
    border-radius: 50%;*/
    opacity: 0;
    animation: zoom 2s ease-in-out forwards;
}

@keyframes zoom {
    0% {
        opacity: 0.7
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0;
        right: 40px
    }
}